<%- include("templates/hearder", {titulo: "resultado"})%>
<body >

        
<main>
    <div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Detalle</th>
                <th scope="col">Disponibilidad</th>

            </tr>
        </thead>
        <tbody>
            <%results.forEach((p)=> {%>
            <tr >
            <td><%= p.product_name%></td>
            <td><%= p.product_price%></td>
            <td><%= p.product_detail%></td>
            <td><%= p.product_offer%></td>
        </tr>
        <%})%>
        </tbody>
    </table>
    </div>
</main>
        



    </tbody>


</body>
</html>